body {
    font-family: "Montserrat", sans-serif;
}

.hidden {
    display: none; !important;
}

.selected {
    background-color: rgba(54, 198, 255, 0.14);
}

#start-pop-up {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgba(0, 255, 217, 0.3);
    border-radius: 10px;
    background-color: rgba(0, 255, 217, 0.075);
    width: 720px;
}

#start-pop-up h1 {
    font-size: 50px;
}

#start-pop-up h2 {
    font-size: 40px;
}

#options-start {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#options-start p {
    font-size: 25px;
    border: 5px solid rgba(54, 198, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    background: rgba(54, 198, 255, 0.14);
    cursor: pointer;
}

#options-start a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    border: 5px solid rgba(54, 198, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    background: white;
}

#question {
    text-align: center;
    max-width: 1000px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgba(54, 198, 255, 0.3);
    border-radius: 10px;
    background: rgba(54, 198, 255, 0.14);
    padding: 10px;
}

#answers {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-height: 800px;
}

.closed-answer {
    font-size: 24px;
    padding: 12px;
    /* make the width the same as the holder*/
    border: 10px solid rgba(54, 198, 255, 0.3);
    border-radius: 10px;
    cursor: pointer;
}

#open-answer {
    font-size: 20px;
    width: 600px;
    max-width: 600px;
    height: 200px;
    max-height: 200px;
    border: 10px solid rgba(54, 198, 255, 0.3);
    border-radius: 25px;
    background: rgba(54, 198, 255, 0.14);
    padding: 15px;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#prev-btn {
    position: fixed;
    bottom: 10px;
    left: 250px;
    font-size: 25px;
    border: 5px solid rgba(54, 198, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    background: white;
    cursor: pointer;
}

#next-btn {
    position: fixed;
    bottom: 10px;
    right: 250px;
    font-size: 25px;
    border: 5px solid rgba(54, 198, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    background: rgba(54, 198, 255, 0.14);
    cursor: pointer;
}

#result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 1000px;
    height: 600px;
    border: 10px solid rgba(54, 198, 255, 0.3);
    border-radius: 10px;
    background: rgba(54, 198, 255, 0.14);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

#result h2 {
    font-size: 80px;
}
#result p {
    font-size: 50px;
}